.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: whitesmoke;
    padding: 40px;
}

.quadrados {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.quadrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 8px;
    width: 250px;
    height: 250px;
}

.retangulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    border-radius: 8px;
    width: 250px;
    height: 500px;
}

.fotoNivel {
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 16px;
    color: white;
}

.pesquisa {
    margin-bottom: 12px;
    background-color: var(--cinza);
    color: rgba(24, 24, 24, 0.307);
    padding: 2px;
    border-radius: 8px;
    width: 50%;
    font-size: 12px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100px;
}

.button {
    width: 100%;
    height: 50px;
    padding: 5px;
    border: 0;
    border-radius: 8px;
    background-color: var(--verdeEscuro);
    color: white;
    transition: 300ms;
    box-shadow: var(--shadow);
    margin: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--verdeEscuro);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.634);
}

.horaAula {
    display: flex;
    justify-content: center;
    background-color: white;
    border: 1px dashed var(--verdeEscuro);
    padding: 5px;
    border-radius: 8px;
    width: 60%;
}

.materias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.divisor {
    background-color: var(--cinza);
    width: 5px;
    border-radius: 10px
}

.formacoes {
    margin-top: 10px;
}