.campSearch{
    background-color: rgb(194, 194, 194);
    width: 600px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.campSearch input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #2f2d52;
    font-size: 18px;

    &::placeholder {
        color: lightgray;
    }
}

