.contentProfessorDashboard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin-left: 100px;
}

.contentProfessorDashboard .boxSearchProfessorDashboard{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentProfessorDashboard .boxesDashProfessorDashboard{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.boxesDashProfessorDashboard .boxProfessorDashboard{
    display: flex;
    flex-direction: column;
}

.boxesDasProfessorDashboard .boxProfessorDashboard .listCardsProfessorDashboard .contentListProfessorDashboard{
    overflow-y: scroll;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contentListProfessorDashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.contentListProfessorDashboard .cardAula {
    margin-bottom: 50px;
}

.contentListProfessorDashboard::-webkit-scrollbar{
    display: none;
}