.section {
    display: flex;
    flex-direction: column;
    background-image: url("assets/img/stock/aula-particular.jpg");
    background-size: 100% auto;
    background-position: center;
}

.oQueOferecemosContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(30px);
    padding: 5%;
}

.oQueOferecemosContainer h2 {
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    color: var(--branco);
    background-color: var(--preto);
    padding: 1%;
    border-radius: 16px;
    box-shadow: var(--shadow);
}

.oQueOferecemosTextosContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: var(--branco);
    padding: 5%;
    border-radius: 16px;
    width: 50%;
    box-shadow: var(--shadow);
}

.oQueOferecemosTextosContainer ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

@media screen and (min-width: 1024px) {
    .oQueOferecemosTextosContainer {
        font-size: 1.4em;
    }
}