:root {
  --verdeClaro: #87EE97;
  --verdeEscuro: #077533;
  --cinza: #D9D9D9;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.328);
  --shadowInvertida: inset 0 0 5px rgba(45, 45, 45, 0.5);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--verde-claro);
}

a {
  text-decoration: none;
  color: black;
}

.icon {
  background-color: blue;
}

body {
  margin: 0;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
