
.generalDash{
    width: 100%;
}

.generalDash .metrics{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box {
    border: 1px solid black;
    border-radius: 8px;
    
}


.metrics .boxes{
    display: flex;
    width: 100%;
}

.boxes .box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.box .boxOnly{
    border: 2px solid black;
    width: 100%;
}

.box .cardOnly{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}

.boxOnly .divider{
    border: 1px solid green;
    margin: 10px;
}

.boxArrumacao {
    display: flex;
}

