.detalhes_aula_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    min-height: 90vh;
}

.detalhes_aula_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    border: 1px solid var(--cinza);
    border-radius: 32px;
    width: 50%;
}

.detalhes_aula_container h4,
.detalhes_aula_container h3,
.detalhes_aula_container h2,
.detalhes_aula_container h1 {
    text-align: center;
    font-weight: 500;
}

.detalhes_aula_container h1 {
    background-color: var(--laranja);
    width: fit-content;
    font-size: 2.5rem;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 16px;
    margin: 0;
    margin-bottom: 20px;
    box-shadow: var(--shadow);
}

.detalhes_aula_titulo {
    display: flex;
    align-items: center;
    justify-content: center ;
    width: 100%;
}

.detalhes_aula_container p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.detalhes_aula_info {
    display: flex;
}

.detalhes_aula_info_gerais {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.detalhes_aula_info_professor {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid var(--preto);
}

.detalhes_aula_botao_participar_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.detalhes_aula_info_professor_foto {
    width: 170px;
    height: 170px;
   
    background-size: cover;
    background-position: center;
    border-radius: 100px;
    box-shadow: var(--shadow)
}

.detalhes_aula_formacoes_cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.detalhes_aula_botao {
    margin-top: 20px;
    width: 30%;
    height: 40px;
    border-radius: 16px;
    background-color: var(--verde-claro-opaco);
    color: var(--preto);
    font-size: 1.5rem;
    cursor: pointer;
    border: 0;
    transition: 300ms;
}

.detalhes_aula_botao:hover {
    background-color: var(--azul-claro);
    border: solid 1px var(--preto);
    box-shadow: var(--shadow);
    width: 80%;
    height: 50px;
    margin-top: 10px;
}

.detalhes_aula_botao_vermelho {
    background-color: rgb(216, 60, 60);
}