.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
    border-radius: 8px;
    padding: 10px;
    padding-top: 0;
    margin-bottom: 25px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: 300ms;
    z-index: 1;
}

.card:hover {
    background: rgba(255, 255, 255, 0.742)
}