 .box {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.quadrados {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.quadrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 16px;
}

.retangulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    border-radius: 8px;

}

.fotoNivel {
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-size: cover;     
    background-position: center;
    transition: 300ms;
}

.fotoNivel:hover {
    width: 210px;
    height: 210px;
    margin: -5px;
}

.pesquisa {
    margin-bottom: 12px;
    background-color: var(--cinza);
    color: rgba(24, 24, 24, 0.307);
    padding: 2px;
    border-radius: 8px;
    width: 50%;
    font-size: 12px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100px;
    gap: 20px;
}

.button {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 0;
    border-radius: 16px;
    background-color: var(--verde-claro);
    color: var(--preto);
    transition: 300ms;
    box-shadow: var(--shadow);
    cursor: pointer;
    font-size: medium;
}

.button:hover {
    width: 110%;
    height: 60px;
    margin: -10px;
    background-color: var(--cinza);
}

.disponibilidadeContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--azul-claro);
    padding: 15px;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 20px;
}

.disponibilidadeContainer h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.disponibilidadeConteudo {
    padding: 2px;
    width: max-content;
}

.horaAula {
    display: flex;
    justify-content: center;
    background-color: white;
    border: 1px dashed var(--verdeEscuro);
    padding: 5px;
    border-radius: 8px;
}

.descricao {
    margin-bottom: 50px;
    max-width: 300px;
    overflow-x: hidden;
}

.descricao h4 {
    text-align: center;
}

.descricaoProfessor {
    font-size: larger;
}

.perfilMaterias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.divisor {
    background-color: var(--cinza);
    width: 5px;
    border-radius: 10px
}

.formacoes {
    margin-top: 10px;
    overflow-x: hidden;
    background-color: var(--verde-claro);
    padding: 30px;
    border-radius: 16px;
}

.descricao::-webkit-scrollbar{
    display: none;
}

.formacoes::-webkit-scrollbar{
    display: none;
}