 .box {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 60px;
     padding-left: 0;
     border-radius: 16px;
 }

 .quadrados {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;
     width: 90%;
     padding: 40px;
     padding-left: 0;
     padding-right: 0;
     margin-bottom: 20px;
     border-radius: 16px;
     background: rgba(255, 255, 255, 0.619);
     border-radius: 16px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     border: 1px solid rgba(34, 34, 34, 0.407);
 }

 .quadrado {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 5px;
     border-radius: 16px;
     margin-left: -20px;
 }

 .retangulo {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     padding: 5px;
     border-radius: 8px;

 }

 .fotoNivel {
     background-color: black;
     width: 200px;
     height: 200px;
     border-radius: 100px;
     background-size: cover;
     background-position: center;
     transition: 300ms;
 }

 .fotoNivel:hover {
     width: 210px;
     height: 210px;
     margin: -5px;
 }

 .pesquisa {
     margin-bottom: 12px;
     background-color: var(--cinza);
     color: rgba(24, 24, 24, 0.307);
     padding: 2px;
     border-radius: 8px;
     width: 50%;
     font-size: 12px;
     margin-bottom: 30px;
 }

 .buttons {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     width: 100%;
     height: 60px;
     align-items: center;
     gap: 10px;
     margin-bottom: 30px;
     margin-top: 30px;
 }

 .button {
     width: 100%;
     height: 50px;
     padding: 10px;
     border: 0;
     border-radius: 16px;
     background-color: var(--azul-claro);
     color: var(--preto);
     transition: 300ms;
     box-shadow: var(--shadow);
     cursor: pointer;
     font-size: medium;
 }

 .button:hover {
     width: 115%;
     height: 60px;
     background-color: var(--verde-claro);
     border: solid 1px var(--preto);
 }

 .precoLabel {}

 .disponibilidadeContainer {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
     padding: 15px;
     width: 100%;
     border-radius: 12px;
     margin-bottom: 20px;
     gap: 10px;
 }

 .disponibilidadeContainer h4 {
     margin-top: 10px;
     margin-bottom: 10px;
     width: 100%;
 }

 .disponibilidadeContainer li {
     padding: 5px;
 }

 .disponibilidadeConteudo {
     padding: 2px;
     width: max-content;
 }

 .horaAula {
     display: flex;
     justify-content: center;
     background-color: white;
     border: 1px dashed var(--verdeEscuro);
     padding: 5px;
     border-radius: 8px;
 }

 .descricao {
     height: fit-content;
     width: 350px;
     overflow-x: hidden;
     text-align: justify;
 }

 .descricao h4 {
     text-align: center;
 }

 .descricaoProfessor {
     font-size: larger;
 }

 .perfilMaterias {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: center;
     gap: 10px;
 }

 .divisor {
     background-color: var(--cinza);
     width: 5px;
     border-radius: 10px
 }

 .formacoes {
     overflow-x: hidden;
     background-color: var(--verde-claro);
     padding: 30px;
     padding-bottom: 0;
     border-radius: 16px;
     height: 100%;
     width: 100%;
     box-shadow: var(--shadow);
 }

 .box h4 {
     margin-bottom: 10px;
     background-color: var(--cinza);
     padding: 5px;
     border-radius: 8px;
     width: 100%;
     text-align: center;
 }

 .descricao::-webkit-scrollbar {
     display: none;
 }

 .formacoes::-webkit-scrollbar {
     display: none;
 }